footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

* {
  padding: 10px;
}

#currentHappening li {
  font-family: cursive;
}

@media (max-width:900px) {
  body {
    background-color: #F0EAE8 !important;
  }
}

.center {
  text-align: center;
}
